h1{
  font-size: 30px;
  font-style: italic;
  margin-left: 10px;
  color: rgba(214, 0, 0, 0.8);
}
nav{
	border-bottom: groove;
	background-color:rgba(0, 0, 0, 0.04);
	  /*filter:brightness(0.7);
*/}
/*#buscador{
	margin-left: 80%;
}
*/
@media (max-width: 575.98px) { 
.nav-item {
display: none;
}
.nav-mov-1{
position: absolute;
top: 4px;
right:  4px;
margin: 1px;
}
.nav-mov-2{
position: absolute;
top: 4px;
right:  32px;
}
#buscador{
	margin-top: 8px; 
}
 }
@media (min-width: 576px) and (max-width: 767.98px){ 
.nav-item {
display: none;
}
.nav-mov-1{
position: absolute;
top: 32px;
right:  4px;
margin: 1px;
}
.nav-mov-2{
position: absolute;
top: 32px;
right:  32px;
}
#buscar{
position: absolute;
top: 3px;
right: 10px;
}

 }
